{% extends 'applicase/base.html' %}

{% block no_side %}
{#    <div style="text-align: center; margin-left: 10%; margin-right: 10%;">#}
    <div class="col-lg-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">
        <div class="card-body">
        <h2>You have successfully logged out!</h2>

          <div class="col-12">
                <a class="col-12 btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}" role="button" style="text-transform:none">
                  <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                  Login again with Google
                </a>
          </div>
        </div>
        </div>
    </div>
{#    </div>#}
    <link   rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

{% endblock %}