

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <h2 style="text-align: center">Teaching Assistant</h2><hr>
    <form method="POST" enctype="multipart/form-data" action="/professor/ta-post/">
        {% csrf_token %}
        <label for="section">Section: </label>
        <input type="text" name="classes" id="section" list="items" style="width: 100%" required>
        <datalist id="items">
            {% for class in classes %}
                <option> {{ class.code }} : {{ class.name }} </option>
            {% endfor %}

        </datalist>
        <br>
        <br>
        <label for="textarea">Description: </label>
        <textarea name="description" id="textarea" style="width: 100%" required></textarea>


        <input type="submit" value="submit">
    </form>
  </div>

</div>
<script>

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>