{% extends 'applicase/base.html' %}

{% load static%}

{% block content %}

    <div class="pagetitle">
      <h1>TA Posts Filtered For You</h1>

    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
{#          <div class="card info-card sales-card">#}
                {% for post in posts %}
                    <div class="col-sm-4">

                    <div class="card info-card sales-card">
{#                        <h4 style="text-align: center">{{ post.section }}</h4>#}
                        <div class="card-body">
                        <h5 class="card-title">{{ post.section }}</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                              <h6><p>{{ post.description }}</p></h6>
                              <span class="text-success small pt-1 fw-bold">Posted by {{ post.user.get_full_name }}</span> <span class="text-muted small pt-2 ps-1"><i>on {{ post.date_posted }}</i></span>

                            </div>
                        </div>

                        <button type="button" class="collapsible">APPLICATION</button>
                        <div class="content">
                            <form method="POST" enctype="multipart/form-data" action="/home/student/">
                                {% csrf_token %}
                                {{ta_application_form.as_ul}}
                                <input type="submit" value="apply" name="post_id{{ post.id }}">
                            </form>
                        </div>
                        </div>
                        </div>
                    </div>

                {% endfor %}
      </div>
    </section>
    {% for application in applications %}
        <div class="post">
            <h4 style="text-align: center">{{ application.position.section }}</h4>
            <hr>
            <p>{{ application.position.description }}</p>
            <br>
            <i>Posted by {{ application.position.user.get_full_name }} on {{ application.position.date_posted }}</i>
            <hr>
            <button type="button" class="applied">APPLICATION</button>
            <div class="content">
                <br>
                <p> You took <strong>{{ application.position.section }}</strong> in <strong>{{ application.year }} {{ application.semester }} semester</strong> with Professor <strong>{{ application.professor }}</strong> and received a <strong>{{ application.grade }}</strong> in the class.</p>
                <br>
                <div style="border-radius: 5px; border: black solid 2px; padding: 5PX; background-color: #fefefe">
                    <p>{{ application.comment }}</p>
                </div>

                <i>Applied {{ application.date_applied }}</i>
            </div>

        </div>
        <br>
    {% endfor %}
</div>
    <script>


    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }

    var coll2 = document.getElementsByClassName("applied");
    var j;

    for (j = 0; j < coll2.length; j++) {
      coll2[j].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
}


    </script>
{% endblock %}